/*Whole card*/
.movie-card {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  width:25vw;
  height:70vh;
  transition: 2s;
  transform-style: preserve-3d;
  background-color: black;
  border-radius: 5px;

}


.movie-card:hover{
  transform: rotateY(180deg);
}
.movie-card img{
  margin-left: 10%;
}
caption{
  width: 25vw;
}

/*Front and Backsided*/

.front_side ,.back_side{

  backface-visibility:hidden;

}
.front_side{
  position: absolute;
  z-index: 1;
}

.back_side{
    position: absolute;
    width: 100%;
    background-color: #343a40;
    z-index: 0;
    transform: rotateY(180deg);
}
.back_side h1{
  text-align: center;
  color: #ade8f4;
}
.back_side p{
  transform: translateX(10px);
}
