.navbar{
	display: flex;
	padding: 1.5rem;
	justify-content: space-between;
	align-items: center;
	background-color: #1d3557;
	width: 90vw;
	height:20px;
}
.search-bar{
	width: 50%;
	height: 30px;
	outline: none;
	font-size: 100%;
	border: none;
	background: none;
	background-color:black;
	color: white;
}
button{
	border-radius: 20px;
	background-color:#F3E9DD;
}
button:hover{
	background-color: grey;
	color: white;
	cursor: pointer;
}
